@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&family=Passion+One:wght@400;700;900&family=Playwrite+NO:wght@100..400&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


@font-face {
    font-family: 'Luxurious Roman';
    src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&family=Passion+One:wght@400;700;900&family=Playwrite+NO:wght@100..400&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor-verde: #2bff00bb;
    --cor-azul: #351dbc;
    --cor-laranja: #E07114;
    --cor-azul-mais-fraca: #0992edd2;
    --cor-laranja-mais-fraca: #ff7300;
    --cor-fundo: #030303e4;
    --cor-verde-mais-fraca:  #2bff009c;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo);
    background-color: white;
}

header{
    background-color: var(--cor-azul-mais-fraca);
    
    padding: 30px;
}

p{
    color: black;
}

h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    padding: 0px 0px 0px 40px;
}

menu#itens{
    display: none;
    border-radius: 8px;
    margin: -45px -0px 10px 0px;
    box-shadow: 2px solid black;
    text-align: center;
}

li{
    list-style-type: none;
    padding: 10px 10px;
}

menu > ul > li > a{
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-size: larger;
    transition-duration: 0.3s;
}

menu > ul > li >  a:hover{
    background-color: var(--cor-verde-mais-fraca);
    transition: var(--cor-verde-mais-fraca);
}

span#burger{
    color: white;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    display: block;
    margin: -30px -40px;
    width: 40px;
}

main{

}

section.foto{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.mover{
    
}

img.fotos{
    border-radius: 8px;
    max-width: 100%;
}

article{
    margin: 6px 0px 50px 0px;
    text-align: center;
}

article > p {
    font-size: 19px;
    text-align: justify;
}

article.center > a > p{
    font-size: 19px;
    text-align: center;
}

article.center > a{
    text-decoration: none;
}

article.center > a:hover{
    text-decoration: underline;
}

footer{
    background-color: var(--cor-azul-mais-fraca);
    height: 1100px;
    padding: 80px;
}

section#footer{
    margin: 50px 0px 0px -70px;
}

section > p{
    font-size: larger;
}

#redes{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    margin: -60px 0px 0px -70px;
}

section.new{
    background-image: linear-gradient(to right, var(--cor-azul), var(--cor-azul-mais-fraca));
    height: 100px;
    color: white;
}

nav#redes > a{
    font-size: 35px;
    color: white;
}

nav#redes > a:hover{
    color: var(--cor-laranja-mais-fraca);
}

footer > section > ul > li > a{
    text-decoration: none;
    font-size: 17px;
    color: white;
}

footer > section > ul > li > a:hover{
    color: var(--cor-laranja-mais-fraca);
}